:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
    max-width: 1440px;
    font-size: 18px;
    padding-bottom: 1rem;
}

p {
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}


.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 98%;
    align-items: center;
    color: white;
}

.navbar ul li {
    font-size: 18px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(243, 191, 191);
    text-decoration: underline;
}


#piggy {
    width: 4rem;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 60%;
}

.right-side {
    width: 50%;
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

/* footer */

.footer {
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--primary-blue);
    color: white;
    font-size: 24px;
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(183, 159, 159, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);

}

.desktop-hidden {
    display: none;
}

.mobile-hidden {
    display: block;
}

@media screen and (max-width: 650px) {
    .mobile-hidden {
        display: none;
    }
    .desktop-hidden {
        display: block;
    }

    .navbar {
        height: 2rem;
    }

    .hamburger {
        width: 3rem;
        order: 1;
    }

    .menu {
        order: 2;
    }

    .left-side {
        width: 70%;
    }

    h3 {
        font-size: 20px;
    }

    .right-side {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        padding-right: 1rem;
    }


}