:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
    max-width: 1440px;
    font-size: 18px;
}

p {
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}

.navbar ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    color: white;
}

.navbar ul li {
    font-size: 18px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(243, 191, 191);
    text-decoration: underline;
}


#piggy {
    width: 4rem;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 60%;
}

.right-side {
    width: 50%;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    min-width: 50%;
}

/* footer */



button {
    background-color: var(--primary-blue);
    color: white;
    font-size: 24px;
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(183, 159, 159, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);
}



footer {
    width: 100%;
    background-color: var(--dark-brown);
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: #96735A;
    grid-template-columns:
        repeat(3, minmax(0, 30%));
    grid-template-areas:
    'a b c'
  }
  
  footer > div {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
  }

  footer > div> h2 {
    margin-bottom: 10px;
    margin-top: 1rem;;
    font-size: 22px;
  }


  
  .callin a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    grid-area: a;
    justify-items: center;
    align-items: center;
    width: 60%;
  }
  
  .socials {
    grid-area: b;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
  }

  .socials > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .socials > div > a > img {
    width: 2.5rem;
    height: 2.5rem;
  }

  #facebook {
    margin-right: -8px;
  }
  
  #instagram {
    height: 2.2rem;
    width: 2.2rem;
  }
  .contact {
    grid-area: c;
    color: white;
    height: 100%;
  }






.desktop-hidden {
    display: none;
}

.mobile-hidden {
    display: block;
}



@media screen and (max-width: 700px) {
    .mobile-hidden {
        display: none;
    }
    .desktop-hidden {
        display: block;
    }

    .navbar {
        height: 2rem;
    }

    .hamburger {
        width: 3rem;
        order: 1;
    }

    .menu {
        order: 2;
    }

    .left-side {
        width: 70%;
    }

    h3 {
        font-size: 20px;
    }

    .navbar ul li a {
        color: white;
        text-decoration: none;
    }


    .right-side {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        padding-right: 1rem;
    }



    footer {
        grid-template-areas:
        'a c'
        'b b';
        grid-template-columns:
        repeat(2, minmax(0, 50%));

    }

    .logo {
        grid-area: a;
    }

    .contact {
        grid-area: c;
    }

    .socials {
        grid-area: b;
    }


    


}