:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}


 

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
    font-size: 18px;
}

p {
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

li {
    font-size: 18px;
}



/* Navbar styling */ 

.padded {
    width: 99%;
    opacity: 0;
    height: 11.5vh;
  }


.navbar ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;
  }

.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 50;
    margin-bottom: -0.2rem;
}

.navbar ul li {
    font-size: 18px;
    width: 9rem;
    text-align: center;;
    /* min-width: auto; */
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(243, 191, 191);
    text-decoration: underline;
}


#piggy {
    width: 4rem;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: auto;
}

.right-side {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    min-width: 50%;
}

#dropper:hover {
    background-color: var(--medium-brown);
    cursor: pointer;
}


.open {
    background-color: var(--medium-brown);
}

#dropped {
    background-color: #8b6941;
    width: 9rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5rem;
    margin-top: -0.5rem;
    margin-left: -1rem;
    z-index: 13;
}

#dropped ul li {
    display: block;
}

#dropped ul li:hover {
    background-color: var(--medium-brown);
    cursor: pointer;
}


#outside-clicker {
    opacity: 0%;
    position: absolute;
    z-index: 12;
    width: 100vw;
    height: 100vh;
}

ul li {
    padding-bottom: 0.8rem;
}



#ham-close {
    display: block;
    font-size: 50px;
    width: 1rem;
}

#ham-close:hover {
    color: white;
}
/* footer */




/* BUTTON STYLING */
button {
    background-color: var(--primary-blue);
    color: white;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(183, 159, 159, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(183, 159, 159, 0.75);
    border: 3px transparent solid;
}

button:hover {
    background-color: white;
    color: var(--primary-blue);
    font-weight: 600;
    border: 3px var(--primary-blue) solid;
    cursor: pointer;
 }




footer {
    width: 100%;
    background-color: var(--dark-brown);
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: #96735A;
    grid-template-columns:
        repeat(3, minmax(0, 30%));
    grid-template-areas:
    'a b c'
  }
  
  footer > div {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
  }

  footer > div> h2 {
    margin-bottom: 10px;
    margin-top: 1rem;;
    font-size: 22px;
  }


  
  .callin a {
    text-decoration: none;
    color: black;
  }
  
  .logo {
    grid-area: a;
    justify-items: center;
    align-items: center;
    width: 60%;
  }
  
  .socials {
    grid-area: b;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
  }

  .socials > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .socials > div > a > img {
    width: 2.5rem;
    height: 2.5rem;
  }

  #facebook {
    margin-right: -8px;
  }
  
  #instagram {
    height: 2.2rem;
    width: 2.2rem;
  }
  .contact {
    grid-area: c;
    color: white;
    height: 100%;
  }


.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(90, 88, 87);
    opacity: 70%;
    z-index: 87;
    right: 0;
    top: 0;
    display: block;
}


/* Mobile Navigation*/
#navigation {
    width: 60%;
    height: 100vh;
    background-color: var(--dark-tan);
    z-index: 88;
    right: 0;
    top: 0;
    position: fixed;
    display: block;
    opacity: 100%;
    padding-top: 1rem;
    padding-inline: 1.5rem;
}


#navigation ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
}

#navigation ul li {
    font-size: 20px;
}

#navigation ul li a {
    color:black;
    text-decoration: none;
}

#navigation ul li a:hover {
    color: rgb(121, 54, 54);
    text-decoration: underline;
}

#ham-close {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
}


.mobile-hidden {
    display: block;
}

.desktop-hidden {
    display: none;
}


@media screen and (max-width: 850px) {

    .navbar {
        padding-right: 1rem;
    }

    .padded {
        height: 10vh;
    }

    .hamburger {
        width: 3rem;
        order: 1;
    }

    .menu {
        order: 2;
    }

    .left-side {
        width: 70%;
    }


    .navbar ul li a {
        color: white;
        text-decoration: none;
    }




    .right-side {
        display: flex;
        justify-content: flex-end;
        width: 30%;
        padding-right: 1rem;
    }

    #dropped-2 ul{
        list-style: none;
        margin-top: -3.5rem;
        margin-bottom: -1rem;
    }

    .mobility li {
        padding-left: .2rem;
    }



    .mobility a {
        color: black;
        text-decoration: none;
    }

    .mobility li:hover{
        background-color: var(--light-brown);
        color: rgb(121, 54, 54);
        text-decoration: underline;
        padding-left: .3rem;
    }

    .brown {
        background-color: var(--light-brown);
    }

    #dropped-2 li:hover {
        background-color: var(--light-tan);
        padding-left: .6rem;
        margin-left: -0.3rem;
    }



    footer {
        grid-template-areas:
        'a c'
        'b b';
        grid-template-columns:
        repeat(2, minmax(0, 50%));

    }

    .logo {
        grid-area: a;
    }

    .contact {
        grid-area: c;
    }

    .socials {
        grid-area: b;
    }

    .menu li {
        font-size: 18px;
    }



    .desktop-hidden {
        display: block;
    }

    .mobile-hidden {
        display: none !important;
    }

}

.hidden {
    display: none !important;
}