/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

.main {
    max-width: 100%;
    padding: 0;
}

 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    padding: 50px;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .featured-logo {
      width: 80%;
      justify-items: center;
      align-items: center;
  }

  .dates {
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
    h1 {
      font-size: 65px;
    }
    .year {
      font-size: 150px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .sponsors {
    background-color: #D9CAB2;
    max-width: 300px;
    padding: 30px;
    img {
      width: 100%;
      border-radius: 5%;
    }
  }

  .callin {
    background-color: #D9CAB2;
    max-width: 300px;
    padding: 30px;
    img {
      width: 100%;
    }
    h3 {
      justify-content: center;
      align-content: center;
    }
  }

  .vendors {
    background-color: #D9CAB2;
    max-width: 300px;
    padding: 30px;
    img {
      width: 100%;
      border-radius: 5%;
    }

  }

  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

/* utility classes */

