/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
}


/* navigation bar */

.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    color: white;
}

#piggy {
    width: 15%;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right-side {
    width: 600px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

/* copy above */

.main {
    max-width: 100%;
    padding: 0;
}

 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

/* utility classes */


footer {
  display: grid;
  gap: 1rem;
  grid-template-columns:
      repeat(3, minmax(0, 1frm));
  grid-template-areas:
  'a b c'
}

h2 {
  justify-items: center;
  align-items: center;
}

.logo {
  grid-area: a;
  justify-items: center;
  align-items: center;
}

.socials {
  grid-area: b;
  color: white;
}

.contact {
  grid-area: c;
  color: white;
}