/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

.main {
    max-width: 100%;
    padding: 0;
}

 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .dates {
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 40px;
  }

  .cards {
    display: flex;
    flex-direction: row;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

/* utility classes */


footer {
  background-color: var(--dark-brown);
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background-color: #96735A;
  grid-template-columns:
      repeat(3, minmax(0, 1frm));
  grid-template-areas:
  'a b c'
}

h2 {
  justify-items: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.callin a {
  text-decoration: none;
  color: black;
}

.logo {
  grid-area: a;
  justify-items: center;
  align-items: center;
  width: 30%;
}

.socials {
  grid-area: b;
  color: white;
  img {
    width: 10%;
  }
}

.contact {
  grid-area: c;
  color: white;
}