/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

.main {
    max-width: 100%;
    padding: 0;
}

.navbar ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.navbar {
  background-color: var(--dark-brown);
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 99%;
  align-items: center;
  color: white;
}

.navbar ul li {
  font-size: 18px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(243, 191, 191);
  text-decoration: underline;
}


#piggy {
  width: 4rem;
}

.left-side {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 60%;
}

.right-side {
  width: 50%;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  min-width: 50%;
}

 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
    padding: 20px;
    width: 100%;
    height: 50%;
  }
  
h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 40px;
  }
  
  .countdown ul li {
    font-size: 20px;
    display: inline-block;
    list-style-type: none;
    padding: 4rem;
    text-transform: uppercase;
  }
  
  .countdown ul li span {
    display: block;
    font-size: 3rem;
  }

  /* page */

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 80%;
    padding: 50px;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .featured-logo {
      width: 20%;
      justify-items: center;
      align-items: center;
  }

  .dates {
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px 40px 15px 40px;
    h1 {
      font-size: 65px;
    }
    .year {
      font-size: 150px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
  }

  .card {
    width: 30%;
    background-color: #D9CAB2;
    border-radius: 5%;
    max-width: 230px;
    min-width: 200px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 0.5rem;
    overflow: hidden;

    hr {
      height: 3px;
      width: 80%;
      color: black;
      background-color: black;
    }
  }

  .imaged {
    padding: 0px 0px 20px 0px;
    overflow: hidden;
    margin-bottom: 0.2rem;
  }

.sponsors .imaged img{
  height: 200px;
}

.vendors .imaged img{
    height: 200px;
}

  .callin .imaged {
    height: 200px;

    background-color: #96735A;
    border-radius: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

  }

  .worded {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;

    p {
      margin-top: 0.6rem;
      padding-left: .7rem;
      height: 50%;
      margin-bottom: 0.3rem;
    }
  }

  .buttons {
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 0.5rem;
    
  }

    
.callin img{
  width: 80%;
}

  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
    .container {
      color: black;
      margin: 0 auto;
      text-align: center;
      background-color: #D9CAB2;
    }
    
    h1 {
      font-weight: normal;
      letter-spacing: .125rem;
      text-transform: uppercase;
    }
    
    li {
      display: inline-block;
      font-size: 1em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }
    
    li span {
      display: block;
      font-size: 2rem;
    }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    justify-content: center;
    padding: 50px;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .featured-logo {
      width: 80%;
      justify-items: center;
      align-items: center;
  }

  .video {
    width: 100%;
    height: 100px;
  }
  }