/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

.main {
    max-width: 100%;
    padding: 0;
}

.navbar ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.navbar {
  background-color: var(--dark-brown);
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 99%;
  align-items: center;
  color: white;
}

.navbar ul li {
  font-size: 18px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(243, 191, 191);
  text-decoration: underline;
}


#piggy {
  width: 4rem;
}

.left-side {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 60%;
}

.right-side {
  width: 50%;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  min-width: 50%;
}

 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
    padding: 20px;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 4em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  /* page */

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 80%;
    padding: 50px;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .featured-logo {
      width: 20%;
      justify-items: center;
      align-items: center;
  }

  .dates {
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px 40px 15px 40px;
    h1 {
      font-size: 65px;
    }
    .year {
      font-size: 150px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
  }

  .card {
    width: 30%;
    background-color: #D9CAB2;
    border-radius: 5%;
    max-width: 400px;
    img {
      width: 100%;
      height: 60%;
      border-radius: 5%;
      padding: 0px 0px 20px 0px;
    }
    hr {
      height: 1px;
      width: 80%;
      padding: 0px 0px 0px 10px;
      color: black;
      border: none;
      background-color: black;
    }


  }

  .buttons {
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 10px 30px 10px 30px;
    
  }

  .buttons 
 

    
    
  

  .callin {
    background-color: #D9CAB2;
    border-radius: 5%;
    max-width: 400px;

    img {
      width: 95%;
      padding: 60px 0px 20px 10px;
      background-color: #96735A;
      border-radius: 5%;
    }
    hr {
      height: 1px;
      width: 80%;
      color: black;
      border: none;
      background-color: black;
    }
    .buttons {
      font-size: 18px;
      text-decoration: none;
      border: none;
      padding: 10px 30px 10px 30px;
      a {
        color: white;
      }
      a:hover {
        color: black;
      }
    }
  }

  .vendors {
    background-color: #D9CAB2;
    border-radius: 5%;
    max-width: 400px;

    img {
      width: 100%;
      height: 60%;
      border-radius: 5%;
      padding: 0px 0px 20px 0px;
    }
    hr {
      height: 1px;
      color: black;
      border: none;
      background-color: black;
    }
    .buttons {
      font-size: 18px;
      text-decoration: none;
      border: none;
      padding: 10px 30px 10px 30px;
      a {
        color: white;
      }
      a:hover {
        color: black;
      }
    }
  }

  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  @media (max-width:768px) and (min-width:300px) {
    .container {
      color: black;
      margin: 0 auto;
      text-align: center;
      background-color: #D9CAB2;
    }
    
    h1 {
      font-weight: normal;
      letter-spacing: .125rem;
      text-transform: uppercase;
    }
    
    li {
      display: inline-block;
      font-size: 1em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }
    
    li span {
      display: block;
      font-size: 2rem;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    justify-content: center;
    padding: 50px;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .featured-logo {
      width: 80%;
      justify-items: center;
      align-items: center;
  }

  .video {
    width: 100%;
    height: 100px;
  }

/* utility classes */

