/* Basic Styles */

:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

body {
  overflow-x: hidden;
}

.main {
    max-width: 100%;
    padding: 0;
    margin-bottom: -1rem;
}




 /* countdown timer */
 .container {
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: #D9CAB2;
    padding: 20px;
    width: 100%;
    height: 50%;
  }
  
/* h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 40px;
  }
   */
  .countdown ul li {
    font-size: 20px;
    display: inline-block;
    list-style-type: none;
    padding: 4rem;
    text-transform: uppercase;
  }
  
  .countdown ul li span {
    display: block;
    font-size: 3rem;
  }

  /* page */

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sponsor {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 30px;
    width: 100%;
  }

  .featured-logo {
      width: 20rem;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 30px;
      justify-items: center;
      align-items: center;
  }

  .video iframe {
    max-width: 500px;
    width: 400px;
    min-width: 300px;
    padding-right: 30px;
  }


  .dates {
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 40px;
    width: 100%;
    h1 {
      font-size: 65px;
    }
    .year {
      font-size: 150px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-inline: 20px;
  }

  .card {
    width: 31%;
    background-color: #D9CAB2;
    border-radius: 5%;
    max-width: 230px;
    min-width: 200px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    overflow: hidden;

    hr {
      height: 3px;
      width: 80%;
      color: black;
      background-color: black;
    }
  }

  .card-description {
    flex-grow: 1;
    padding-inline: 2rem;
  }

  .imaged {
    padding: 0px 0px 20px 0px;
    overflow: hidden;
    margin-bottom: 0.3rem;
    height: 170px;
  }


  .callin .imaged {
    background-color: #96735A;
    border-radius: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .worded {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;

    p {
      margin-top: 0.6rem;
      /* padding-left: .7rem; */
      height: 50%;
      margin-bottom: 0.3rem;
    }
  }

  .buttons {
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 0.5rem;
    
  }

    
.callin img{
  width: 100%;
}


@media screen and (max-width: 850px) {
  .information {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    justify-items: center;
    width: 98vw;
  }

  .sponsor {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
  }

  .featured-logo {
      width: 80%;
      justify-items: center;
      align-items: center;
  }


  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .video iframe {
    width: 90%;
    padding-right: 0;
  }


}
  
  @media all and (max-width: 700px) {
    /* h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    } */
    .container {
      color: black;
      margin: 0 auto;
      text-align: center;
      background-color: #D9CAB2;
    }
    
 
    

    .countdown ul li {
      padding: 20px;
    }

    .dates {
      width: 101%;
      margin-inline: 0;
      padding-right: 25px;
    }
    



  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

  }


  .card {
    display: flex;
    flex-direction: row;
    width: 400px;
    min-width: 350px;
    height: 180px;
    max-width: 400px;
    min-width: 200px;
    font-size: 18px;
  } 

  .card button {
    font-size: 16px;
  }


  .imaged {
    margin-bottom: -1rem;
    max-width: 300px;
    min-width: 140px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .worded p {
    margin-top: 0.3rem;
    width: 100%;
  }

  .card-description {
    padding-inline: 1rem;
  }

  .worded h2 {
    margin-top: -1.5rem;
  }

  .buttons {
    margin-top: 1.5rem;
  }





  }