:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

div {
    padding:0;
    margin:0;
}

main {
    background-color:var(--light-tan);
    flex: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.left {
    min-width:60vw;
    padding-top:5vh;
    padding-inline:5vw;
}

.right {
    flex-direction: row;
    align-items: center;
    padding-top:5vh;
}

.schedule-section {
    min-width:60vw;
    min-height: 65vh;
    padding-block:5vh;
}

/* general elements */

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.filters-box {
    min-width: 150px;
    min-height: 150px;
    background-color: var(--dark-tan);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    padding:5px;
    align-self: flex-start;
}

.card {
    background-color: var(--dark-tan);
    border-radius: 10px;
}

.card-collapsed {
    display: flex;
    flex-direction: row;
    background-color: var(--light-brown);
    border-radius: 10px;
}

div {
    border: solid red 2px;
}