:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --less-dark-tan: #dfc6a9;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

main {
    background-color:var(--light-tan);
    flex: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 65vh;
}

.left {
    min-width: 80%;
    padding-block:5vh;
    padding-inline:5vw;
}

.right {
    min-width: 20%;
    flex-direction: row;
    align-items: center;
    padding-top:5vh;
}

/* general elements */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.blue {
    color: var(--primary-red);
}

.schedule {
    width: 100%;
    gap: 3rem;
}

.schedule-day {
    gap: 2rem;
}

.card {
    background-color: var(--dark-tan);
    border-radius: 10px;
}

.card-collapsed {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-brown);
    border-radius: 10px;
    gap: 2em;
}

.card-collapsed .event-name {
    flex-grow: 1;
}

.card-collapsed img {
    max-height: 2rem;
    margin-block: 4px;
    margin-inline: 10px;
    cursor: pointer;
}

.card-content {
    padding: 1em;
}

.rotated {
    transform: rotateX(180deg);
}

.filters-box {
    min-width: 245px;
    min-height: 260px;
    background-color: var(--less-dark-tan);
    border: solid 5px var(--dark-brown);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    padding:2rem;
    gap: .5em;
    position: fixed;
}

.filters-box label{
    font-size: 24px;
    padding-left: 0.2rem;
}
.filters-box h3{
    font-size: 30px;
}

/* Text coloring and formatting */

main h1 {
    font-size: 64px;
}

main .time {
    color: var(--primary-blue);
    font-weight: bold;
}

main .description {
    font-size:  24px;
    font-weight: 500;
    padding-bottom: .5em;
}

@media screen and (max-width: 700px) {
    .schedule h1 {
        min-height: 180px;
    }

    .right {
        position: fixed;
        right: 10vw;
    }
    .left{
        min-width: 100%;
    }
    .filters-box {
        min-width: 145px;
        min-height: 275px;
    }

    .filters-box label{
        font-size: 18px;
    }
    .filters-box h3{
        font-size: 24px;
    }
}