:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
}

.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    color: white;
}

#piggy {
    width: 15%;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right-side {
    width: 600px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.main {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns:
        repeat(3, minmax(0, 1frm));
    grid-template-areas: 
        'one one one'
        'two two two'
        'three three three'
        'four five six'
        'seven eight nine'
        'ten eleven twelve'
        'thirteen fourteen fifteen'
        'sixteen seventeen eighteen'
        'nineteen twenty twenty-one'
        'twenty-two twenty-two twenty-two';
}

.featured-sponsor {
    grid-area: one;
    display: flex;
    justify-content: space-between;
    img {
        width: 40%;
    }
}

.thanks {
    grid-area: two;
    background-color: #D9CAB2;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.button {
    grid-area: three;
}

.et {
    grid-area: four;
    img {
        width: 80%;
    }
}

.first-bank {
    grid-area: five;
    img {
        width: 80%;
    }
}

.stem {
    grid-area: six;
    img {
        width: 80%;
    }
}

.freed {
    grid-area: seven;
    img {
        width: 80%;
    }
}

.fire-protection {
    grid-area: eight;
    img {
        width: 80%;
    }
}

.lamar {
    grid-area: nine;
    img {
        width: 80%;
    }
}

.arvin {
    grid-area: ten;
    img {
        width: 80%;
    }
}

.alliance {
    grid-area: eleven;
    img {
        width: 80%;
    }
}

.jones {
    grid-area: twelve;
    img {
        width: 80%;
    }
}

.mexican {
    grid-area: thirteen;
    img {
        width: 80%;
    }
}

.community-bank {
    grid-area: fourteen;
    img {
        width: 80%;
    }
}

.new {
    grid-area: fifteen;
    img {
        width: 80%;
    }
}

.bramblett {
    grid-area: sixteen;
    img {
        width: 80%;
    }
}

.tosh-farms {
    grid-area: seventeen;
    img {
        width: 80%;
    }
}

.pork {
    grid-area: eighteen;
    img {
        width: 80%;
    }
}

.anew {
    grid-area: nineteen;
    img {
        width: 80%;
    }
}

.signs {
    grid-area: twenty;
    img {
        width: 80%;
    }
}

.jackson-state {
    grid-area: twenty-one;
    img {
        width: 80%;
    }
}

.sponsor-list {
    grid-area: twenty-two
}

/* footer */

footer {
    display: grid;
    gap: 1rem;
    background-color: #96735A;
    grid-template-columns:
        repeat(3, minmax(0, 1frm));
    grid-template-areas:
    'a b c'
}

h2 {
    justify-items: center;
    align-items: center;
}

.logo {
    grid-area: a;
    width: 25%;
    padding: 30px;
}

.socials {
    grid-area: b;
    color: white;
}

.contact {
    grid-area: c;
    color: white;
    justify-content: center;
    align-items: center;
}