:root {
    --primary-red: #CF6038;
    --primary-blue: #5872A6;
    --light-tan: #EDE6D5;
    --dark-tan: #D9CAB2;
    --light-brown: #BFA378;
    --medium-brown: #B8854B;
    --dark-brown: #96735A;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-tan);
    font-family: "Neuton", serif;
}

h1, h2, h3 {
    font-family: "Libre Baskerville", serif;
}

.navbar {
    background-color: var(--dark-brown);
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    color: white;
}

.navbar ul li {
    font-size: 18px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(243, 191, 191);
    text-decoration: underline;
}


#piggy {
    width: 4rem;
}

.left-side {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 60%;
}

.right-side {
    width: 20%;
    min-width: 30%;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    min-width: 50%;
}

.main{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns:
        repeat(3, minmax(0, 1frm));
    grid-template-areas: 
        'one one one'
        'two two two'
        'three three three'
        'four five six'
        'seven eight nine'
        'ten eleven twelve'
        'thirteen fourteen fifteen'
        'sixteen seventeen eighteen'
        'nineteen twenty twenty-one'
        'twenty-two twenty-two twenty-two'
        'twenty-three twenty-three twenty-three';
}

.main div img {
    margin: auto;
    display: block;
}


.featured-sponsor {
    grid-area: one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: 5%;
    height: 250px;
}


.featured-logo {
    width: 50%;
    max-width: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.words {
    display: flex;
    align-items: center;
}

.words h1{
    font-size: 28px;
    padding-top: 1rem;
}

.thanks {
    grid-area: two;
    justify-content: center;
    align-items: center;
    background-color: #D9CAB2;
    padding: 40px;
    width: 100%;
    font-size: 20px;
    display: flex;
}

.button {
    grid-area: three;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: var(--primary-blue);
    border-radius: 20px;
    font-size: 20px;
    border: none;
    width: 300px;
}

.button a {
    color: white;
    text-decoration: none;
}


.et {
    grid-area: four;
    padding: 30px;
    justify-content: center;
    align-items: center;
    img {
        width: 70%;
    }
}

.first-bank {
    grid-area: five;
    padding: 30px;
    img {
        width: 90%;
    }
}

.stem {
    grid-area: six;
    padding: 30px;
    img {
        width: 80%;
    }
}

.freed {
    grid-area: seven;
    padding: 30px;
    img {
        width: 90%;
    }
}

.fire-protection {
    grid-area: eight;
    padding: 30px;
    img {
        width: 80%;
    }
}

.lamar {
    grid-area: nine;
    padding: 30px;
    img {
        width: 90%;
    }
}

.arvin {
    grid-area: ten;
    padding: 30px;
    img {
        width: 70%;
    }
}

.alliance {
    grid-area: eleven;
    padding: 30px;
    img {
        width: 70%;
    }
}

.jones {
    grid-area: twelve;
    padding: 30px;
    img {
        width: 100%;
    }
}

.mexican {
    grid-area: thirteen;
    padding: 30px;
    img {
        width: 90%;
    }
}

.community-bank {
    grid-area: fourteen;
    padding: 30px;
    img {
        width: 50%;
    }
}

.new {
    grid-area: fifteen;
    padding: 30px;
    img {
        width: 80%;
    }
}

.bramblett {
    grid-area: sixteen;
    padding: 30px;
    img {
        width: 100%;
    }
}

.tosh-farms {
    grid-area: seventeen;
    padding: 30px;
    img {
        width: 90%;
    }
}

.pork {
    grid-area: eighteen;
    padding: 30px;
    img {
        width: 70%;
    }
}

.anew {
    grid-area: nineteen;
    padding: 30px;
    img {
        width: 80%;
    }
}

.signs {
    grid-area: twenty;
    padding: 30px;
    img {
        width: 80%;
    }
}

.jackson-state {
    grid-area: twenty-one;
    padding: 30px;
    img {
        width: 80%;
    }
}

.title {
    grid-area: twenty-two;
    padding: 30px 0px 0px 0px;
    align-items: center;
    justify-items: center;
}

.sponsor-list {
    grid-area: twenty-three;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0px 30px 30px 30px;
    font: 25px;
}

.left-column {
    padding: 60px;
    background-color: #D9CAB2;
    line-height: 1.7rem;
}

/* .left-column > *, .right-column > * {
    margin-top: 2rem;
} */

.right-column {
    padding: 60px;
    background-color: #D9CAB2;
    line-height: 1.7rem;
}

@media (max-width:700px) and (min-width:300px) {
    .main {
     display: grid;
     align-content: center;
     justify-content: center;
     gap: 1rem;
     width: 100vw;
     grid-template-columns:
            repeat(1, minmax(0, 1frm));
     grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'seven'
        'eight'
        'nine'
        'ten'
        'eleven'
        'twelve'
        'thirteen'
        'fourteen'
        'fifteen'
        'sixteen'
        'seventeen'
        'eighteen'
        'twenty'
        'twenty-one'
        'twenty-two'
        'twenty-three';
    }
    .featured-sponsor {
        grid-area: one;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .words {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
    
    .featured-logo {
        width: 80%;
        padding: 40px;
    }
    
    .words{
        padding: 10px 0px 0px 0px;
    }
    
    .thanks {
        grid-area: two;
        background-color: #D9CAB2;
        padding: 30px;
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;

    }
    
    .button {
        grid-area: three;
        padding: 20px 20px 20px 20px;
        background-color: var(--primary-blue);
        border-radius: 20px;
        width: 300px;
        justify-items: center;
        align-items: center;
    }
    
    .button a {
        text-decoration: none;
        justify-items: center;
        align-items: center;
        color: black;
    }
    
    .et {
        grid-area: four;
        padding: 30px;
        justify-items: center;
        align-items: center;
        img {
            width: 70%;
        }
    }
    
    .first-bank {
        grid-area: five;
        padding: 30px;
        img {
            width: 90%;
        }
    }
    
    .stem {
        grid-area: six;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .freed {
        grid-area: seven;
        padding: 30px;
        img {
            width: 90%;
        }
    }
    
    .fire-protection {
        grid-area: eight;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .lamar {
        grid-area: nine;
        padding: 30px;
        img {
            width: 90%;
        }
    }
    
    .arvin {
        grid-area: ten;
        padding: 30px;
        img {
            width: 70%;
        }
    }
    
    .alliance {
        grid-area: eleven;
        padding: 30px;
        img {
            width: 70%;
        }
    }
    
    .jones {
        grid-area: twelve;
        padding: 30px;
        img {
            width: 100%;
        }
    }
    
    .mexican {
        grid-area: thirteen;
        padding: 30px;
        img {
            width: 90%;
        }
    }
    
    .community-bank {
        grid-area: fourteen;
        padding: 30px;
        img {
            width: 50%;
        }
    }
    
    .new {
        grid-area: fifteen;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .bramblett {
        grid-area: sixteen;
        padding: 30px;
        img {
            width: 100%;
        }
    }
    
    .tosh-farms {
        grid-area: seventeen;
        padding: 30px;
        img {
            width: 90%;
        }
    }
    
    .pork {
        grid-area: eighteen;
        padding: 30px;
        img {
            width: 70%;
        }
    }
    
    .anew {
        grid-area: nineteen;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .signs {
        grid-area: twenty;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .jackson-state {
        grid-area: twenty-one;
        padding: 30px;
        img {
            width: 80%;
        }
    }
    
    .title {
        grid-area: twenty-two;
        padding: 30px 0px 0px 0px;
        align-items: center;
        justify-items: center;
    }
    
    .sponsor-list {
        grid-area: twenty-three;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px 10px 0px 10px;
        font: 25px;
    }
    
    .left-column {
        padding: 60px;
        background-color: #D9CAB2;
        line-height: 1.7rem;
    }
}