

.reg-banner {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

form > div {
    width: 60%;
}

input {
    width: 100%;
    letter-spacing: 0.4px;
    font-size: 14px;
    padding: 3px;
    margin-top: 5px;
}

textarea {
    margin-top: 5px;
}

select {
    padding: 5px;
    font-size: 14px;
}

.warning {
    font-weight: 600;
    padding-top: 1rem;
}

.check {
    width: 5%;
}

.inline {
    display: inline;
}

#logo {
    width: 50%;
}

#date, #amount {
    width: 3.5rem;
}


#credit {
    font-family: "Ariel", sans-serif;
    font-weight: 600;
}