body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 34px;
}


.reg-banner {
    margin-top: -3rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* accordian section */

.banner {
    background-color: #BFA378;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.accord-sec {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%
}

.holder {
    display: flex;
    flex-direction: column;
}


.accordian {
    background-color: #C9BAA1;
    border: 1.5px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 5px;
    z-index: 10;
}

.accordian .right{
    display: flex;
    gap: 1.5rem;;
}



.arrow {
    width: 2rem;
}

.bottom {
    background-color: #D9CAB2;
    z-index: 9;
    border-radius: 5px;
    border: 1px rgb(146, 141, 114) solid;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 2.5rem;
    margin-top: -2rem;
}

.bottom ul li {
    font-size: 18px;

}
.register {
    font-size: 18px;
    margin-left: 30%;
    margin-bottom: 0.3rem;
}



@media screen and (max-width: 700px) {
    .reg-banner {
        margin-top: 0;
    }
}