
/* accordian section */

.accord-sec {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.holder {
    display: flex;
    flex-direction: column;
}


.accordian {
    background-color: #C9BAA1;
    border: 1.5px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 10;
}

.accordian .left {
    display: flex;
    gap: 1rem;;
}

.arrow {
    width: 2rem;
}

.bottom {
    background-color: #D9CAB2;
    z-index: 9;
    padding-bottom: 0.2rem;
    border-radius: 5px;
    border: 1px rgb(146, 141, 114) solid;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 2.5rem;
    margin-top: -2rem;
}

ul li {
    padding-bottom: 0.2rem;
}
